click==8.2.1
colorama==0.4.6
joblib==1.5.1
networkx==3.5
nltk==3.9.1
numpy==2.2.6
PyMuPDF==1.26.0
PyPDF2==3.0.1
regex==2024.11.6
scikit-learn==1.6.1
scipy==1.15.3
threadpoolctl==3.6.0
tqdm==4.67.1
multer==2.0.1
